body{
   display: flex;
   flex-direction: column;
   align-items: center;

}
h1{
    font-size:xx-large;
    color: blueviolet;
    font-weight: bold;
   
    margin-top: 100px;
}
#Box{
   width: 400px;
   height: 400px; 
   background-color: aqua;

    margin-top: 50px;
    margin-bottom: 5px;
}
button{
width: 400px;
height: 40px;
background-color: aliceblue;  
border-radius: 5px; 
cursor: pointer;
font-size: large;
color:blueviolet;
border: solid 1px blueviolet;
}
button:hover{
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}